.ContentCard {
  --cc-box-shadow-light: 0px 0px 7px -2px #222;
  --cc-box-shadow-dark: 0px 0px 7px -1px #000;
  --cc-border-light: 1px solid #111;
  --cc-border-dark: 2px solid #111;

  width: 90%;
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: .9em;
}

.ContentCard > * {
  margin: 0 1em;
}

.ContentCard__Cover {
  flex: 0 0 40%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 1em;
  /* border: 1px solid rgba(22, 22, 22, 0.23); */
  border-radius: var(--card-border-radius);
  font-family: 'CaskaydiaCove Italic'
}

.ContentCard__Cover--Light {
  border: var(--cc-border-light);
  background: linear-gradient(to right, #aa8ead, #abb2bf);
  box-shadow: var(--cc-box-shadow-light);
}

.ContentCard__Cover--Dark {
  border: var(--cc-border-dark);
  background: linear-gradient(to right, #684e76, #2b226a22);
  box-shadow: var(--cc-box-shadow-dark);
}

.ContentCard__Cover img {
  width: 31%;
  display: block;
  box-shadow: var(--cc-box-shadow-dark);
  border-radius: 7px;
  margin: auto;
  width: 100%;
}

.ContentCard__Cover--Light img {
  border: var(--cc-border-light);
}

.ContentCard__Cover--Dark img {
  border: var(--cc-border-dark);
}

.ContentCard__Cover span {
  text-align: center;
  padding-top: 10px;
}

.ContentCard__Content {
  flex: 1;
  padding: 1em;
  border-radius: var(--card-border-radius);
}

.ContentCard__Content--Light {
  background: #abb2bf;
  border: var(--cc-border-light);
  box-shadow: var(--cc-box-shadow-light);
}

.ContentCard__Content--Dark {
  background: #2b226a22;
  border: var(--cc-border-dark);
  box-shadow: var(--cc-box-shadow-dark);
}

@media (max-width: 1050px) {
  .ContentCard {
    flex-direction: column;
    align-items: center;
  }
}
