.ContentCard {
  --cc-box-shadow-light: 0px 0px 7px -2px #222;
  --cc-box-shadow-dark: 0px 0px 7px -1px #000;
  --cc-border-light: 1px solid #111;
  --cc-border-dark: 2px solid #111;

  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.ContentCard__Cover {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1em;
  /* border: 1px solid rgba(22, 22, 22, 0.23); */
  border-radius: var(--card-border-radius);
}

.ContentCard__Cover--Light {
  border: var(--cc-border-light);
  background: linear-gradient(to right, #aa8ead, #abb2bf);
  box-shadow: var(--cc-box-shadow-light);
}

.ContentCard__Cover--Dark {
  border: var(--cc-border-dark);
  background: linear-gradient(to right, #684e76, #7b728a);
  box-shadow: var(--cc-box-shadow-dark);
}

.ContentCard__Cover img {
  border-radius: 7px;
  width: 100%;
}

.ContentCard__Cover span {
  font-size: .8em;
  text-align: center;
  padding-top: 10px;
}

.ContentCard__Content {
  padding: 1em;
  flex: 1;
  border-radius: var(--card-border-radius);
  margin: 0 0 0 1em;
}

.ContentCard__Content--Light {
  background: #abb2bf;
  border: var(--cc-border-light);
  box-shadow: var(--cc-box-shadow-light);
}

.ContentCard__Content--Dark {
  background: #7b728a;
  border: var(--cc-border-dark);
  box-shadow: var(--cc-box-shadow-dark);
}
