.ContentCard {
  --cc-box-shadow-light: 0px 0px 7px -3px #222;
  --cc-box-shadow-dark: 0px 0px 7px -1px #000;
  --cc-border-light: 1px solid #ffffff55;
  --cc-border-dark: 1px solid #88888866;

  width: 90%;
  margin: 1em auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  font-size: .9em;
}

.ContentCard > * {
  margin: 0 1em;
}

.ContentCard__Cover {
  flex: 0 0;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 1em;
  /* border: 1px solid rgba(22, 22, 22, 0.23); */
  border-radius: var(--card-border-radius);
  font-family: 'CaskaydiaCove Italic'
}

.ContentCard__Cover--Light {
  border: var(--cc-border-light);
  background: linear-gradient(to right, #ba8ecd66, #abb2bf66);
  box-shadow: var(--cc-box-shadow-light);
}

.ContentCard__Cover--Dark {
  border: var(--cc-border-dark);
  background: linear-gradient(to right, #684e7644, #7b829f44);
  box-shadow: var(--cc-box-shadow-dark);
}

.ContentCard__Cover img {
  display: block;
  box-shadow: var(--cc-box-shadow-dark);
  border-radius: 7px;
  margin: auto;
}

.ContentCard__Cover--Light img {
  /* border: var(--cc-border-light); */
  box-shadow: var(--cc-box-shadow-dark);
}

.ContentCard__Cover--Dark img {
  /* border: var(--cc-border-dark); */
  box-shadow: var(--cc-box-shadow-dark);
}

.ContentCard__Cover span {
  text-align: center;
  padding-top: 10px;
}

.ContentCard__Content {
  flex: 1;
  padding: 1em;
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  height: auto;
}

.ContentCard__Content--Light {
  background: #abb2bf66;
  border: var(--cc-border-light);
  box-shadow: var(--cc-box-shadow-light);
}

.ContentCard__Content--Dark {
  background: #7b829f44;
  border: var(--cc-border-dark);
  box-shadow: var(--cc-box-shadow-dark);
}

@media (max-width: 1050px) {
  .ContentCard {
    flex-direction: column;
    align-items: center;
  }
}
