.Item {
  list-style-type: none;
}

.Item-Link {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.Item-Link:hover span {
  color: #000;
  text-decoration: underline;
}
