.Button {
  outline: none;
  padding: 7px;
  border: 2px solid;
}

.Button:active > * {
  transform: scale(0.9);
}

.Button--Light {
  background-color: #e1dde1;
  border-color: #777;
  border-left-color: #eee;
  border-top-color: #eee;
}

.Button--Light:active {
  border-color: #eee;
  border-left-color: #777;
  border-top-color: #777;
}

.Button--Dark {
  background-color: #313131;
  border-color: #151515;
  border-left-color: #777;
  border-top-color: #777;
}

.Button--Dark:active {
  border-color: #777;
  border-left-color: #151515;
  border-top-color: #151515;
}

.Button--Disabled {
  pointer-events: none;
  background-color: #afafaf;
  border-color: #7a7a7a;
  border-left-color: #ddd;
  border-top-color: #ddd;
  color: #666 !important;
  text-shadow: 1px 1px 0px #ddd;
}

.Button--Disabled > * {
  filter: brightness(0) saturate(100%) invert(41%) sepia(59%) saturate(0%) hue-rotate(159deg) brightness(86%)
    contrast(101%) drop-shadow(1px 1px 0px rgb(255 255 255 / 0.7)) !important;
}
