.Button {
  outline: none;
  padding: 7px;
  border: 2px solid;
}

.Button:active > * {
  transform: scale(0.9);
}

.Button--Light {
  background-color: #e1dde1;
  border-color: #777;
  border-left-color: #eee;
  border-top-color: #eee;
}

.Button--Light:active {
  border-color: #eee;
  border-left-color: #777;
  border-top-color: #777;
}

.Button--Dark {
  background-color: #313131;
  border-color: #151515;
  border-left-color: #777;
  border-top-color: #777;
}

.Button--Dark:active {
  border-color: #777;
  border-left-color: #151515;
  border-top-color: #151515;
}
