.Topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin: 1px;
  width: calc(100% - 2px);
  border-radius: 7.5px;
}

.Topbar--Light {
  background: linear-gradient(to left, #abb2bf, #a8a);
}

.Topbar--Dark {
  background: linear-gradient(to left, #7b829f, #848);
}

.Topbar__Info {
  display: flex;
}

.Topbar__Info > * {
  margin-right: 1em;
}

.Topbar__Title {
  margin: auto;
  font-size: 1em;
  white-space: nowrap;
}

.Topbar__Buttons__Left,
.Topbar__Buttons__Right {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.Topbar__Buttons__Left {
  justify-content: start;
}

.Topbar__Buttons__Right {
  justify-content: end;
}

.Topbar__Buttons__Left > * {
  font-size: 0.88em !important;
  margin-right: 5px;
}

.Topbar__Buttons__Right > * {
  margin-left: 5px;
}
