.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GoHomeLink {
  width: 135px;
  color: #000;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
}

.GoHomeLink:hover {
  color: #000;
  text-decoration: underline;
}
