.ContentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ContentHeader__Title {
  font-size: 1.2em;
}

.ContentBody {
  padding: 1em;
  margin: auto;
}

@media only screen and (max-width: 755px) {
  .ContentBody {
    padding: 1em 0;
  }
}
