.SpotifyWidget {
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 37dvw;
}

.SpotifyWidget__NotPlaying {
  font-size: .8em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 755px) {
  .SpotifyWidget {
    max-width: 50dvw;
  }
}

@media screen and (max-width: 400px) {
  .SpotifyWidget {
    max-width: 30dvw;
  }
}
