.SpotifyWidget {
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;

  background: red;

  .SpotifyWidget__Cover {
    padding: 10px;
    border: 2px solid #22222277;
    background: #22222277;
    border-radius: 5px;
    margin-right: 13px;
  }

  p {
    white-space: nowrap;
    font-size: .7em;
  }
}
