.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Card--Light {
  color: #000;
  border-color: #000;
  background-color: #e1dde1;
}

.Card--Dark {
  color: #fff;
  border-color: #fff;
  background-color: #313131;
  text-shadow: 1px 1px 1px #000;
}

.Card__TopBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to right, #333, #838);
  margin: 1px;
}

.TopBar__Item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  font-size: 1.2em;
}

.TopBar__Item--Dark {
  color: #fff;
}
