/* -- modifiers -- */

/* theming */
.Icon--Light {
  filter: invert(0%) sepia(90%) saturate(7459%) hue-rotate(77deg) brightness(112%) contrast(111%);
}

.Icon--Dark {
  filter: invert(100%) sepia(26%) saturate(1329%) hue-rotate(168deg) brightness(104%) contrast(112%);
}

/* animations */
.Icon--GrimRotation {
  animation: grimRotation 4s linear infinite alternate;
}

@keyframes grimRotation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  75% {
    transform: rotate(-135deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}
