.Item {
  list-style-type: none;
}

.Item__NavLink {
  text-decoration: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.Item__NavLink:hover {
  text-decoration: underline;
}

.Item__NavLink--Light {
  color: #000;
}

.Item__NavLink--Light:hover {
  color: #000;
}

.Item__NavLink--Dark {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.Item__NavLink--Dark:hover {
  color: #fff;
}
