.Markdown__GoToRepo {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.GoToRepo {
  display: block;
  white-space: nowrap;
  margin: -1.5em;
  padding: 1.3em 1.5em;
  width: 130%;
  height: 100%;
}

.GoToRepo--Light {
  color: #111;
}

.GoToRepo--Light:hover {
  color: purple;
}

.GoToRepo--Dark {
  color: white;
}

.GoToRepo--Dark:hover {
  color: #f8f;
}
