.Md {
  display: block;
  margin: auto;
  border: 2px solid black;
  padding: 1.5em;
  color: #fff;
  max-width: 860px;
  border-radius: var(--card-border-radius);
  background-color: #222;
}

.Md--Light {
  border-color: #e1dde1;
  text-shadow: 1px 1px 1px #000;
}

.Md--Dark {
  border-color: #313131;
}

@media only screen and (max-width: 1485px) {
  .Md {
    width: 55vw;
  }
}

@media only screen and (max-width: 755px) {
  .Md {
    width: 80vw;
  }
}
