.Project {
  padding: 1em;
  text-decoration: none;
  font-size: .8em;
  border-radius: 7.5px;
  border: 1px solid;
  transition: 260ms;
}

.Project:hover {
  transition: 80ms;
}

.Project--Light {
  color: #000;
  border-color: #99999944;
  background: radial-gradient(circle at center, #b090c044, #e0e0f044, transparent 200%);
}

.Project--Light:hover {
  color: #000;
  border-color: #999999bb;
}

.Project--Light:active {
  border-color: #444;
}

.Project--Dark {
  border-color: #99999944;
  background: radial-gradient(circle at center, #b090d033, #e0e0f033, transparent 220%);
  color: white;
}

.Project--Dark:hover {
  color: white;
  border-color: #999999dd;
}

.Project--Dark:active {
  border-color: #e0e0e0;
}

.Project__Header {
  font-family: 'CaskaydiaCove Italic';
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Project__Img {
  height: 30px;
}

.Project__Description {
  margin-top: 1em;
}
