.Project {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
  padding: 1em;
  text-decoration: none;
  font-size: .8em;
  border-radius: 7.5px;
  background: radial-gradient(circle at center, #b090c044, #e0e0f044, transparent 200%);
  border: 1px solid #99999944;
  color: #000;
}

.Project__Header {
  font-family: 'CaskaydiaCove Italic';
  border-radius: 7.5px;
  background-color: #333;
  color: white;
  overflow: hidden;
  text-align: center;
  width: 140px;
}

.Project__ImgContainer {
  width: 100%;
}

.Project__Img {
  width: 100%;
  object-fit: contain;
  background-color: #333;
}

.Project__Description {
  flex: 1;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
