.Project {
  padding: 1em;
  text-decoration: none;
  font-size: .8em;
  border-radius: 7.5px;
  background: radial-gradient(circle at center, #b090c044, #e0e0f044, transparent 200%);
  border: 1px solid #99999944;
  color: #000;
}

.Project__Header {
  font-family: 'CaskaydiaCove Italic';
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Project__Img {
  height: 30px;
}

.Project__Description {
  margin-top: 1em;
}
