.Project {
  width: 47%;
  border: 2px solid #000;
  margin: 1%;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}

.Project:hover,
.Project:active {
  box-shadow: 2px 2px 5px #666;
  color: #000;
}

.Project__Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Project__Header,
.Project__Description {
  padding: 1em;
}

.Project:hover .Project__ImgContainer,
.Project:active .Project__ImgContainer {
  box-shadow: 2px 2px 5px #666;
}

.Project__ImgContainer {
  border: 2px solid #000;
  height: 5.5em;
}

.Project:nth-child(even) .Project__ImgContainer {
  border: 2px double #ae9944;
}

.Project__Name {
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
  .Project {
    width: 98%;
    position: relative;
    top: 0;
  }
}
