@font-face {
    font-family: 'agave';
    src: url(./fonts/agave\ regular\ Nerd\ Font\ Complete\ Mono.ttf);
}

body {
    font-family: 'agave', monospace;
    background-color: #666;
    opacity: 1;
    background-image: linear-gradient(#fafafa 1px, transparent 1px),
        /* horizontal */ linear-gradient(to right, #fafafa 1px, #666 1px); /* vertical */
    background-size: 20px /* square width */ 20px /* square height */;
    background-attachment: fixed;
}

body > * {
    width: 60%;
    margin: auto;
}

#root > * {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #e1dde1;
    border: 2px solid #000;
}

@media only screen and (max-width: 720px) {
    body > * {
        width: 95%;
    }
}
