@font-face {
    font-family: "agave";
    src: url(./fonts/agave\ regular\ Nerd\ Font\ Complete\ Mono.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #666;
    font-family: "agave", monospace;
}
