.Nav {
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.Nav__Logo {
  float: left;
}

.Nav__Img {
  float: left;
  width: 120px;
}

.Nav__Title {
  color: #000;
  padding: 2.1em 0;
  cursor: pointer;
  font-size: 1.3em;
  width: 0;
}

.Nav__Title:hover,
.Nav__Title:active {
  text-shadow: 0px 0px 7px #e01058;
}

.Nav__Title__Link {
  color: inherit;
  text-decoration: none;
  font-family: 'CaskaydiaCove Italic';
}

.Nav__Title__Link:hover {
  color: inherit;
  text-decoration: underline;
}

.Nav__Items {
  float: right;
}
