.Item {
  cursor: pointer;
  list-style-type: none;
  border-bottom: 1px solid #aaa;
  margin: 0 1px;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}

.Item:hover {
  text-decoration: underline;
}

.Item--Light {
  color: #000;
}

.Item--Light:hover {
  color: #000;
}

.Item--Dark {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.Item--Dark:hover {
  color: #fff;
}
