.Nav__Logo {
  justify-content: center;
  align-items: center;
}

.Nav__Img {
  width: 65px;
}

.Nav__Title {
  font-size: 1.25em;
  margin-top: 5px;
  padding-left: 5px;
  font-family: 'CaskaydiaCove Italic';
}

.Nav__Title--Light {
  color: #000;
}

.Nav__Title--Dark {
  color: #fff;
  text-shadow: 2px 2px 0px #000;
}

/* .Nav__ThemeSwitcher {
  position: absolute;
  left: 48.9%;
} */

@media only screen and (max-width: 720px) {
  .Nav {
    align-items: center;
  }

  .Nav__Title {
    display: none;
  }

  .Nav__ThemeSwitcher {
    left: 46%;
  }
}
