.Nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.Nav__Logo {
  float: left;
  display: flex;
  flex-direction: row;
}

.Nav__Img {
  float: left;
  width: 120px;
}

.Nav__Title {
  color: #000;
  padding: 2.1em 0;
  cursor: pointer;
  font-size: 1.3em;
  width: 0;
}

.Nav__Title:hover,
.Nav__Title:active {
  text-shadow: 0px 0px 7px #e01058;
}

.Nav__Title__Link {
  color: inherit;
  text-decoration: none;
  font-family: 'CaskaydiaCove Italic';
}

.Nav__Title__Link:hover {
  color: inherit;
  text-decoration: underline;
}

.Nav__Items {
  float: right;
}

.Nav__ThemeSwitcher {
  display: inline-block;
  width: 60px;
  height: 34px;
}

.ThemeSwitcher {
  display: none;
}

.Sun,
.Moon {
  padding: 0.3em 0.8em;
}

.Sun--Active {
  background-color: #fff;
}

.Sun--Active svg {
  filter: invert(0%) sepia(90%) saturate(7500%) hue-rotate(166deg) brightness(89%) contrast(108%);
}

.Moon--Active {
  background-color: #000;
}

.Moon--Active svg {
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(103%) contrast(103%);
}
