.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GoHomeLink {
  width: 110px;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
}

.GoHomeLink:hover {
  text-decoration: underline;
}

.GoHomeLink--Light {
  color: #000;
}

.GoHomeLink--Light:hover {
  color: #000;
}

.GoHomeLink--Dark {
  color: #fff;
}

.GoHomeLink--Dark:hover {
  color: #fff;
}
